@page "/search"
@using Newtonsoft.Json.Linq;

<h3>Search for Company</h3>

<div class="" style="border-color:black; border-radius:10px">
    <input @bind-value="@CurrencySearch" />
    <button type="button" class="btn btn-primary" @onclick="TheButtonClicked"> Search</button>
</div>


<div class="card-deck">
    @try
    {
        <table>
            <thead>
                <tr>
                    <th>Currency</th>
                    <th>amount</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in dictObj)
                {
                    Console.WriteLine("{0}: {1}", item.Key, item.Value);
                    <tr>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>

                }

                </tbody>
        </table>
       
    }
    catch (Exception)
    {

    }

</div>



@code {

    string CurrencySearch = "";
    JObject jsonObj = new JObject();
    Dictionary<string, double> dictObj = new Dictionary<string, double>();

    private async void TheButtonClicked()
    {
        try
        {
            HttpClient clnt = new HttpClient();

            String jsonString = await clnt.GetStringAsync("https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/" + CurrencySearch + ".json");
            JObject jsonObj = JObject.Parse(jsonString);
            jsonObj.Remove("date");
            //Console.WriteLine(jsonObj[CurrencySearch]);





            dictObj = jsonObj[CurrencySearch].ToObject<Dictionary<string, double>>();

            //Console.WriteLine(dictObj);


            @*foreach (var item in dictObj)
            {
                Console.WriteLine(item);
            }*@


        }
        catch (Exception)
        {


        }
    }


}
